html {
  font-family: 'Quicksand';
}

.margin-title {
  margin-bottom: 50px;
}

.font-bold {
  font-weight: bolder;
  font-size: 1em;
}

.checklist-button:hover {
  cursor: pointer;
}

.close-button:hover {
  cursor: pointer;
}